@font-face {
  font-family: "Grodita";
  src: url("./Gordita-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Grodita";
  src: url("./Gordita-Medium.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "Grodita";
  src: url("./Gordita-Bold.otf") format("opentype");
  font-weight: 800;
}

@font-face {
  font-family: "Berthold";
  src: url("./Berthold-akzidenz-grotesk-be-medium-extended.ttf")
    format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Akzidenz";
  src: url("./Akzidenz-grotesk-bold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Akzidenz";
  src: url("./Akzidenz-grotesk-black.ttf") format("truetype");
  font-weight: 800;
}
