.heading {
  position: relative;
  height: 100vh;
  margin-bottom: 80px;

  .text-container {
    width: 75%;
    margin: 0 auto;
    text-align: left;

    * {
      margin-right: 20%;
      @media (max-width: 900px) {
        margin-right: 10%;
      }
    }
  }

  &__scroller {
    margin-top: 4em;
    &__img {
      color: white;
      display: inline-block;
      width: 70px;
      height: 70px;
      background-color: $primaryColor;
      border-radius: 50%;

      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }

      span {
        position: relative;
        &:after {
          position: absolute;
          content: "\276F";
          font-size: 28px;
          transform: rotate(90deg);
          left: 29px;
          top: 17px;
        }
      }
      img {
        width: 90px;
        display: block;
        margin-top: 50px;
        position: relative;
        top: -9px;
        left: -8px;
      }
    }
    &__text {
      color: white;
      font-family: $heading-font;
    }
  }

  &__content {
    &__headline {
      font-family: $heading-font;
      margin-top: 1em;
      font-size: 4em;
      margin-top: 25px;
      color: $primaryColor;

      @media (max-width: 900px) {
        font-size: 3em;
      }

      @media (max-width: 600px) {
        font-size: 2.5em;
      }
    }

    &__who-we-are {
      font-family: $basic-font;
      color: white;
      font-size: 2em;
      margin-top: -20px;

      @media (max-width: 1250px) {
        font-size: 1.5em;
        margin-top: 20px;
      }

      @media (max-width: 600px) {
        font-size: 1em;
        margin-top: 20px;
      }
    }

    &--blended {
      mix-blend-mode: screen;
    }
  }

  &__image {
    position: absolute;
    left: 0;
    top: 85px;
    width: 100%;
    height: calc(100vh - 85px);
    object-fit: cover;
    object-position: top;
    clip-path: polygon(100% 0, 100% 63%, 0 100%, 0 37%);
    z-index: -1;
  }
}
